*{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.ramda-menu {
    list-style: none;
    margin: 0 auto;
    padding: 0 px;
    display: flex;
    justify-content: center;
    background-color: #35444F;
    margin-bottom: 50px;
}
.ramda-nav {
    display: block;
    margin: 0 auto;
    width: 1280 px;
}
.menu-item {
    text-decoration: none;
    padding: 15px 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.menu-item:hover {
    background: #222F3A;
}
.menu-item-link {
    text-decoration: none;
    color: white;
}
.logo{
    font-weight: 400;
    font-size: 80px;
    display: inline-block;
    padding-bottom: 38px;
    padding-top: 15px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.logo-link {
    text-decoration: none;
    color: black;
}
.colored {
    color: deepskyblue;
}
.main-content {
    display: flex;
    justify-content: space-between;
}
.main-content section {
    width: 885px;
}
section .picture-ramda {
    display:flex;
    align-content:center;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 30px;
}

section .picture-ramda img {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}
img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}
.aside-container {
    width: 344px;
}
.aside-menu {
    border: 1px solid black;
    list-style: none;
    font-size: 27px;
    line-height: 27px;
    font-weight: 400;
    padding: 0px;
}
.aside-link {
    text-decoration: none;
    color: #495863;
    list-style:none;
}
.aside-menu .aside-item {
    padding: 20px;
    list-style:none;
}
.aside-item:hover {
    background-color: #DBDBDB;
    padding-left: 35px;
}
.footer-list {
    display: flex;
    background-color: lightgrey;
    margin-bottom: 50px;
    justify-content: space-between;
}
.footer-item {
    text-decoration: none;
    /*margin: 0 auto;*/
    padding: 15px 25px;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    list-style: none;
}
.footer-container {
    vertical-align: baseline;
}
.footer-item:hover {
    color: steelblue;
    font-family: "Roboto-Regular";
    font-size: 28px;
    text-decoration: underline;
}
.copyright {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 25px;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
}