@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');



body{
    margin: 0 auto;
}
a{
    color: #FF0000;
}
header nav {
    margin: 25px;
}
.ul_menu{
padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    font-weight: 700;
    color: #FF0000;
    text-transform: uppercase;
    z-index: 100;
}
.header .ul_menu .menu-item {
    display: inline-block;
    padding: 0 34px;
    vertical-align: middle;
}
.header .ul_menu .menu-item a {
    color: currentColor;
}

.main{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}
.h2_name{
    padding: 48px 253px 38px 253px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #373737;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}
.text{
    max-width: 1280px;
    padding-left: 67.5px;
    padding-right: 67.5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}
.text-1{
    max-width: 1280px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}
.text-2{
    position: relative;
    max-width: 1280px;
    padding: 28px 67.5px 0 67.5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}
.button-red {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: block;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    padding: 18px 42px;
}
.button{
    position: relative;
    padding: 66px 544.5px 0;
}
.ending{
    padding: 82px 105px 29px 713px;
}

.fin{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: block;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}