html  { box-sizing: border-box;}
body { margin: 0; font-family: 'Open Sans'}
img { max-width: 100% }
a { text-decoration: none; }
*,*:before,*:after { box-sizing: inherit; }

.container {
    width: 1900px;
    margin: 0 auto;
}

.menu {
    display: flex;
    list-style: none;
    background-color: #313131;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
}
.logo {
    margin-right: auto;
    padding: 22px;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
.logo-pic {
    padding-right: 27px;
}
.menu-item {
    padding-right: 35px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}
.menu-item a {
    color: white;
}
.menu-item:last-of-type {
    margin-left: auto;
    padding: 26px;
    background-color: black;
}
.menu-item a:hover {
    color: #14B9D5;
}
.buttons {
    background: url("./Images/title-background.png");
    background-position: center;
    min-height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.opening-line {
    font-size: 27px;
    color: white;
    font-weight: bold;
    margin-bottom: 44px;
}
.button {
    padding: 16px 19px;
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 74px;
}
.green {
    background-color: #89CA62;
}
.blue {
    background-color: #14B9D5;
}
.g-section {
    background-color: #F2F2F2;
}
.cards-container {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
}
.g-title {
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
}
.card-column {
    margin-left: 30px;
}
.card-column:first-of-type {
    margin-left: 0;
}
.card {
    margin-bottom: 30px;
}
.card-text {
    padding: 20px 0;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.clients-section {
    background: url("./Images/popular_clints.jpeg");
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
}
.clients-title {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-top: 106px;
}
.divider {
    width: 60px;
    height: 3px;
    background-color: #18b4cf;
    margin: 90px 0;
}
.clients-images-wrapper {
    display: flex;
    padding-bottom: 192px;
    justify-content: center;
    align-items: center;
}
.clients-images {
    margin-right: 50px;
}
.clients-images:last-of-type {
    margin-right: 0;
}
.top-wrapper {
    height: 190px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.grid-container {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
            "card-1 card-1 card-1 card-2"
            "card-3 card-3 card-4 card-4"
            "card-5 card-5 card-6 card-6"
            "card-7 card-8 card-8 card-8";
    grid-column-gap: 60px;
    grid-row-gap: 45px;
}
.grid-container img {
    width: 100%;
    height: auto;
}
.card-1 {
    grid-area: card-1;
    display: flex;
}
.card-1 .pic-title {
    margin-top: 25px;
}
.card-1 img {
    width: 100%;
    height: auto;
}
.card-2 {
    grid-area: card-2;
}
.card-3 {
    grid-area: card-3;
}
.card-3 .pic-text {
    width: 100%;
}
.card-4 {
    grid-area: card-4;
}
.card-4 .pic-text {
    width: 100%;
}
.card-5 {
    grid-area: card-5;
}
.card-6 {
    grid-area: card-6;
}
.card-7 {
    grid-area: card-7;
}
.card-8 {
    grid-area: card-8;
    display: flex;
}
.pic-description {
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 15px;
    color: #5B6469;
    line-height: 21px;
}
.pic-text {
    padding: 0 24px;
    background-color: #F9F7F7;
}
.pic-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
    margin-top: 10px;
}
.top-section {
    background-color: #00000000;
    margin-bottom: 70px;
}
.footer-container {
    font-size: 13px;
    color: #ffffff;
    background-color: #000000;
    width: 1900px;
    margin: 0 auto;
}
.footer-logo-text {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logos {
    display: flex;
    align-items: flex-start;
}