html {
    box-sizing: border-box
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1;
}
a {
    text-decoration: none;
}
.container {
    background-image: url("../images/background-picture.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}
.wrapper {
    display: flex;
    width: 1208px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    height: 58px;
}
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    color: #fff;
}
.wrapper a {
    color: white;
}
.wrapper a:focus, .wrapper a:hover {
    color:#3CB878;
}
.header-logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}
.menu-wrapper {
    width: 358px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.svg-nav-icon {
    margin-right: 18px;
    display: inline-block;
    width: 22px;
    fill: #fff;
}
.svg-nav-icon:hover, .svg-nav-icon:focus {
    fill:#3CB878;
}
.menu-wrapper .menu {
    position: relative;
}

.menu-wrapper .menu a:last-child::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    right: -4px;
    top: 2px;
    opacity: 0.5;
}
.button {
    border: none;
    border-radius: 4px;
}
.form-title {
    font-size: 20px;
    color: #434343;
}
.form-title::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: #3CB878;
    height: 18px;
    width: 18px;
}
.form-login {
    font-size: 14px;
    color: #3CB878;
}
.form-login:hover {
    color: #01813F;
    text-decoration: underline;
}
.form-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 32px 62px;
}
.form-wrapper {
    width: 322px;
}
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.buttons {
    display: flex;
}
.buttons .button {
    display: flex;
    flex: 1 0 auto;
    padding: 10px 24px 10px 16px;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.facebook {
    margin-right: 4px;
    background-color: #305DB8;

}
.facebook:hover {
    background-color: #022263;
    margin-right: 4px;
}
.google {
    background-color: #DF4A32;
}
.google:hover {
    background-color:#AB1F09;
}
.button-title {
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button-icon {
    font-size: 24px;
    font-weight: bold;
}
.facebook::after {
    content: "";
    position: absolute;
    display: block;
    left: 105px;
    top: 77px;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
}
.google::after {
    content: "";
    position: absolute;
    display: block;
    left: 280px;
    top: 77px;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
}
.divider {
    position: relative;
    padding: 30px 0 12px 0;
    color: #848484;
    font-size: 14px;
    text-align: center;
}
.divider::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 152px;
    background-color: #F2F2F2;
    top: 68%;
    left: 0;
}
.divider::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 152px;
    background-color: #F2F2F2;
    top: 68%;
    right: 0;
}
.input-item {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.input-item:focus {
    box-shadow: 0 3px 8px rgba(125, 125, 125, 0.52);
    outline: 0;
    font-size: 14px;
    color: #434343;
}
.input-item::placeholder {
    font-size: 14px;
    color: #BEBEBE;
}

.submit {
    width: 100%;
    padding: 16px 100px;
    border: none;
    border-radius: 4px;
    background-color: #3CB878;
    color: white;
    font-size: 16px;
}
.submit:focus {
    background-color: #01813F;
    border: none;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding: 20px;
    padding-top: 0;
    cursor: pointer;
    font-size: 14px;
}
input[type="checkbox"] + label::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    border: 1px solid #F2F2F2;
    left: 0;
    top: 0;
}
input[type="checkbox"]:checked + label::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    left: 0;
    top: 0;
    background-image: url(../images/check.svg);
    background-size: cover;
    background-position: center center;
    fill: #01813F;
    z-index: 1;
}
.terms {
    color: #3CB878CC;
}
.terms:hover {
    text-decoration: underline;
    color: #01813F;
}


