#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navbar li {
    display: inline;
}
.header{
    width: 1250px;
}
#navbar {
    display: inline-block;
    list-style-type: none;
    width: 620px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 330px;
    margin-right: 330px;
    margin: 0 auto;
    background-color: red;
}
#navbar a {
    color: #black;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    width: 412px;
    background-color: green;
    padding: 36px;
}
#navbar a:hover {
    border-radius: 20px 5px;
    background-color: #0066FF;
}

h1 {
text-align: center;
}